*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 500;
}
body{
    display: flex;
}
.add-section{
    width: 40%;
    height: 100vh;
    background-color: indigo;
    border-radius: 0 25px 25px 0;
    & h1{
        color: aliceblue;
        font-size: 3em;
        font-weight: bold;
        padding-bottom: 90px;
    }
}
.task-section{
    width: 60%;
    height: 100vh;
    padding: 10px;
    background-color: aliceblue;
    
}
.add-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#task-field{
    margin: 10px;
    width: 60%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}
#add-btn{
    padding: 10px;
    background-color: aliceblue;
    font-size: 1.2em;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    &:hover{
        background-color: grey;
        color: white;
        transition: .2s;
    }
}
#task-list{
    list-style: none;
    margin: 5px 10px;
}
.task-item{
    border: 0;
    padding: 20px;
    border-bottom: 1px solid grey;
    font-size: 1.2em;
    position: relative;
}
.task-delete{
    position: absolute;
    right: 10px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}
